/cats-v-dogs/
/dental_image/
/dental_image_in_voc_format/
/horse-or-human/
/mnist_data/
/PetImages/
/PennFudanPed/
/predict/
horse-or-human.zip
kagglecatsanddogs_3367a.zip
MSR-LA - 3467.docx
/horse2zebra/
/Pytorch/data/
